<div class="modal fade" id="modal_compartir_documentacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">Compartir edición de archivos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" id="myTab1" role="tablist">
              <li class="nav-item">
                <a class="nav-link " id="home-tab1" data-toggle="tab" href="#enlace1" role="tab"
                  aria-controls="home" aria-selected="true">Compartir por enlace</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab1" data-toggle="tab" href="#correo1" role="tab" aria-controls="profile"
                  aria-selected="false">Enviar por correo electrónico</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent1">
              <div class="tab-pane fade show active p-4" id="enlace1" role="tabpanel" aria-labelledby="home-tab">
                <label>Copiar enlace para compartir:</label>
                <input type="text" class="form-control" id="link_document">
                <button class="btn btn-primary my-3 float-right" id="btnCopyDocument">Copiar enlace para compartir</button>
              </div>
              <div class="tab-pane fade p-4" id="correo1" role="tabpanel" aria-labelledby="profile-tab">
                <div class="form-group">
                  <label for="correo">Correo Electrónico</label>
                  <input type="email" class="form-control" id="emailLink1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="mensaje">Mensaje</label>
                  <textarea class="form-control" id="mensaje1" rows="3"></textarea>
                </div>
                <button class="btn btn-success float-right" id="btnCorreoDoc">Enviar correo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>