<div class="modal fade" id="modal_migrar_participante_curso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Migrar estudiante a otro curso </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <select class="custom-select" id="selec_cursos" name="selec_cursos">
                <option value="0">- Buscar curso -</option>
            </select>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
            </button>
            <button id="change_matricula" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>