<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pricing example · Bootstrap v5.0</title>

  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"
    type="text/css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"
    /> 
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

</head>

<body class="d-flex flex-column min-vh-100 bg-gradient-light" style="color: black;">
  <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <b>Programa: </b>
    <%= programa.Nombre %>
  </header>

  <main class="container">
    <img src="/static/img/logo.png" class="logo d-inline" />
      <img
        src="/static/img/uploads/<%= programa.ImgPortada %>"
        class="logo d-inline float-right"
      />
    <hr />
    <div class="mx-auto">
      <h3 class="text-primary">
        Centro de formación profesional, hoja de inscipción empresas y
        participantes
      </h3>
      <p class="text-dark">
        <b>Ayuda: </b>Siga las instrucciones de cada paso.
      </p>
      <!-- <p>En caso de necesitar asistencia puede hacerlo al correo electrónico: soporte_cfp@ricaldone.edu.sv , al número : +503 0000-0000 .  </p> -->
    </div>