<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 d-inline text-gray-800">Formulario de cita</h1>
    <p class="mb-4 ">Cita de 06/09/2021 con Osmaro Alfonso Bonilla</p>
</div>

<%- include('./Blocks/student_details'); %>

<div class="container">
    <div class="row">
        
        <div class="col-12">
            <form>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">1. Motivo de atención</h6>
            
                    </div>
                    <div class="card-body">
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">2. Estrategia de evaluación</h6>
            
                    </div>
                    <div class="card-body">
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline m-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                        </div>
                        
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">3. Resultado de la evaluación</h6>
            
                    </div>
                    <div class="card-body">
                        <textarea class="form-control" id="txtResultado" rows="3"></textarea>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">4. Seguimiento</h6>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="ckCita" value="si">
                            <label class="custom-control-label" for="ckCita">Agendar nueva cita</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <label>Fecha para proxima cita</label>
                                <input
                                  type="text"
                                  class="form-control form-control-sm"
                                  name="nextDate"
                                  id="nextDate"
                                />
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <label>Hora de la siguiente cita</label>
                                <input id="nextHour" type="time" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">5. Observaciones/Consideraciones</h6>
            
                    </div>
                    <div class="card-body">
                        <textarea class="form-control" id="txtConsideraciones" rows="3"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <p class="text-right">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </p>
        </div>
    </div>
</div>




