
<form id="formInstructor">
    <input type="hidden" value="1" id="categoria" name="categoria">
    <div class="form-row">
        <div class="col">
            <label for="DUI">DUI *requerido*</label>
            <input type="text" id="DUI" name="DUI" required class="form-control"
                placeholder="0000000-0">
        </div>
        <div class="col">
            <label for="name">Nombre *requerido*</label>
            <input type="text" id="name" name="name" required class="form-control"
                placeholder="Nombre del instructor">
        </div>
    </div>  
    <br>
    <div class="form-row">
        <div class="col">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary">
        </div>
    </div>                
</form>

<script>

</script>