<link rel="stylesheet" href="/static/vendor/datatables/datatables.min.css" />
<%- include('../partials/header.admin.ejs'); %>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 d-inline text-gray-800">
            Administración de notas - Empresa Centro
        </h1>
        <p class="mb-4">
            Filtros de búsqueda
        </p>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <!-- <h6 class="m-0 font-weight-bold text-primary">Tabla de actividades</h6> -->
                <h6 class="m-0">
                    <b>Ayuda: </b> Puede cambiar los siguientes filtros de búsqueda
                </h6>
            </div>
            <div class="card-body">
                <p class="font-weight-bold">Filtros de búsqueda</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-4">Seleccione el mes</p>
                        <select name="mes" id="mes" class="custom-select filtro">
                            <option selected disabled>Seleccione</option>
                            <option value="0">Enero</option>
                            <option value="1">Febrero</option>
                            <option value="2">Marzo</option>
                            <option value="3">Abril</option>
                            <option value="4">Mayo</option>
                            <option value="5">Junio</option>
                            <option value="6">Julio</option>
                            <option value="7">Agosto</option>
                            <option value="8">Septiembre</option>
                            <option value="9">Octubre</option>
                            <option value="10">Noviembre</option>
                            <option value="11">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-4">Seleccione Año</p>
                        <select name="year" id="year" class="custom-select filtro">
                            <option selected disabled>Seleccione</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                        </select>
                    </div>
                </div>
                <button class="btn float-right btn-success mt-3" id="btnVerNotas">
                    VER NOTAS <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="card shadow mb-4 d-none" id="emptyAlert">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    No existen evaluaciones para los filtros aplicados.
                  </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body d-none" id="contenedor">
            </div>
        </div>
    </div>
    <%- include('../partials/footer'); %>
        <!-- Page level plugins -->
        <script src="/static/js/jquery.mask.min.js"></script>
        <script src="/static/vendor/datatables/datatables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Page level custom scripts -->
        <script src="/static/js/ec/adminNotas.js"></script>