<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Pricing example · Bootstrap v5.0</title>
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"
    type="text/css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
</head>

<body class="bg-gradient-light" style="font-family: Roboto">
  <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  </header>
  <main class="container">
    <div class="row">
      <div class="col align-self-start">
        <img src="/static/img/logoec.png" class="logo" alt="logo Cfp Ricaldone" />
      </div>
      <div class="col align-self-end">
        <img src="/static/img/logo.png" class="logo d-inline float-right" alt="logo insaforp" />
      </div>
    </div>
    <hr />
    <div class="mx-auto">
      <h3 class="text-primary">
        Centro de formación profesional, hoja de inscipción alumnos empresa
        centro
      </h3>
      <p class="text-dark">
        <b>Ayuda: </b>Siga las instrucciones de cada paso
      </p>
    </div>
    <div class="row">
      <div class="col">
        <div class="card mb-4 shadow-sm form">
          <div class="card-header">
            <small><span id="texto">Datos de identificación </span>:
              <span id="id"> 1</span> de 3</small>
            <progress value="16.66" max="100" id="progBar"></progress>
          </div>
          <div class="card-body" id="sec1" >
            <h3>SECCIÓN 1. DATOS DE IDENTIFICACIÓN</h3>
            <h6 class="lead">DATOS PERSONALES</h6>
            <hr />
            <div class="form-row">
              <div class="col-md-4">
                <label>CARNET</label><input type="text" class="form-control form-control-sm" name="carnet"
                  id="carnet" />
              </div>
              <div class="col-md-4">
                <label>Carrera</label>
                <select id="carreras" class="form-control form-control-sm">
                  <option selected disabled>Seleccione carrera</option>
                  <option value="salvadoreno">Salvadoreño</option>
                  <option value="extranjero">Extranjero</option>
                </select>
              </div>
              <div class="col-md-4">
                <label>Grupo</label>
                <select id="grupos" class="form-control form-control-sm">
                  <option selected disabled>Seleccione grupo</option>
                  <option value="salvadoreno">Salvadoreño</option>
                  <option value="extranjero">Extranjero</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6">
                <label>Nombres</label><input type="text" class="form-control form-control-sm text-uppercase"
                  name="nombres" id="nombres" />
              </div>
              <div class="col-md-6">
                <label>Apellidos</label><input type="text" class="form-control form-control-sm text-uppercase"
                  name="apellidos" id="apellidos" />
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-3">
                <label>Sexo</label>
                <select id="sexo" class="form-control form-control-sm">
                  <option selected disabled>Seleccione sexo</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                </select>
              </div>
              <div class="col-md-3">
                <label>Estado familiar</label>
                <select id="estadofamiliar" class="form-control form-control-sm">
                  <option selected disabled>
                    Seleccione Estado familiar
                  </option>
                  <option value="Soltero(a)">Soltero(a)</option>
                  <option value="Casado(a)">Casado(a)</option>
                  <option value="Acompanado">Acompañado</option>
                  <option value="Divorciado(a)">Divorciado(a)</option>
                  <option value="Separado(a)">Separado(a)</option>
                  <option value="Viudo(a)">Viudo(a)</option>
                </select>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>¿El participante trabaja?</label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                    <label class="form-check-label" for="flexRadioDefault1">
                      Si
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                      checked />
                    <label class="form-check-label" for="flexRadioDefault2">
                      No
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6" style="display: none" id="lugartrabajo">
                <label>Lugar de trabajo</label>
                <input type="text" class="form-control form-control-sm text-uppercase" name="lugartrabajo" />
              </div>
              <div class="col-md-6" style="display: none" id="direciontrabajo">
                <label>Dirección del lugar que trabaja</label>
                <input type="text" class="form-control form-control-sm text-uppercase" name="direciontrabajo"
                  id="direcciontrabajo" />
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4">
                <label>Escolaridad alcanzada</label>
                <select id="escolaridad" class="form-control form-control-sm">
                  <option selected disabled>Seleccione escolaridad</option>
                  <option value="1">1er. Gdo</option>
                  <option value="2">2° Gdo</option>
                  <option value="3">3er. Gdo</option>
                  <option value="4">4° Gdo</option>
                  <option value="5">5° Gdo</option>
                  <option value="6">6° Gdo</option>
                  <option value="7">7° Gdo</option>
                  <option value="8">8° Gdo</option>
                  <option value="9">9° Gdo</option>
                  <option value="BachInc">Bachillerato Incompleto</option>
                  <option value="BachCom">Bachillerato Completo</option>
                  <option value="UniInc">Universidad Incompleta</option>
                  <option value="UniCom">Universidad Completa</option>
                </select>
              </div>
              <div class="col-md-6">
                <label>Nombre del Centro Escolar donde estudia o estudió:</label>
                <input type="text" class="form-control form-control-sm text-uppercase" name="instituto"
                  id="instituto" />
              </div>
              <div class="col-md-2">
                <label>Cuota:</label>
                <input type="text" class="form-control form-control-sm text-uppercase" name="cuota" id="cuota">
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4">
                <label>Personas con las que vive</label>
                <select id="vivecon" class="form-control form-control-sm">
                  <option selected disabled>Seleccione</option>
                  <option value="Ambos padres">Ambos padres</option>
                  <option value="Solo Madre">Solo Madre</option>
                  <option value="Solo Padre">Solo Padre</option>
                  <option value="Otros">Otros</option>
                </select>
              </div>
              <div class="col-md-4">
                <label>Ocupación u Oficio:</label>
                <input type="text" class="form-control form-control-sm text-uppercase" name="ocupacionec"
                  id="ocupacionec" />
              </div>
              <div class="col-md-4">
                <label>Religión:</label>
                <select id="religions" class="form-control form-control-sm">
                  <option selected disabled>Seleccione</option>
                  <option value="Catolico">Catolicismo</option>
                  <option value="Cristiano">Cristiano Evangelico</option>
                  <option value="No">Sin Religión</option>
                  <option value="Otra">Otra</option>
                </select>
              </div>
            </div>
            <hr />
            <h6 class="lead">FECHA/LUGAR DE NACIMIENTO</h6>
            <div class="row">
              <div class="col-md-4">
                <label>Departamento</label>
                <select id="depa_nac" class="form-control form-control-sm">
                  <option selected disabled>Seleccione departamento</option>
                  <option value="salvadoreno">Salvadoreño</option>
                  <option value="extranjero">Extranjero</option>
                </select>
              </div>
              <div class="col-md-4">
                <label>Municipio</label>
                <select id="municipioNac" class="form-control form-control-sm">
                  <option selected disabled>Seleccione</option>
                </select>
              </div>
              <div class="col-md-4">
                <label>Fecha</label><input type="text" autocomplete="off" class="form-control form-control-sm" name="fechanac"
                  id="fechanac" />
              </div>
            </div>
            <hr />
            <h6 class="lead">DOMICILIO</h6>
            <div class="row">
              <div class="col-md-3">
                <label>Departamento</label>
                <select id="depdomicilio" class="form-control form-control-sm">
                  <option selected disabled>Seleccione departamento</option>
                  <option value="salvadoreno">Salvadoreño</option>
                  <option value="extranjero">Extranjero</option>
                </select>
              </div>
              <div class="col-md-3">
                <label>Municipio</label>
                <select id="municipioDomicilio" class="form-control form-control-sm">
                  <option selected disabled>Seleccione</option>
                </select>
              </div>
              <div class="col-md-6">
                <label>Dirección</label><input type="text" class="form-control form-control-sm text-uppercase"
                  name="direccion" id="direccion" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label>Tel. Fijo</label><input type="text" class="form-control form-control-sm" name="fijo" id="fijo" />
              </div>
              <div class="col-md-3">
                <label>Tel. Movil</label><input type="text" class="form-control form-control-sm" name="movil"
                  id="movil" />
              </div>
              <div class="col-md-3">
                <label>¿Posee internet?</label>
                <select id="internet" class="form-control form-control-sm">
                  <option selected disabled>Seleccione</option>
                  <option value="residencial">Internet residencial</option>
                  <option value="movil">Internet Datos moviles</option>
                  <option value="no">No posee internet</option>
                </select>
              </div>
              <div class="col-md-3" style="display: none;" id="capacidadinternetdiv">
                <label>Capacidad internet</label>
                  <select id="capacidadinter" class="form-control form-control-sm">
                    <option selected disabled>Seleccione</option>
                    <option value="1a5mb">De 1MB a 5 MB</option>
                    <option value="5a10mb">De 5MB a 10 MB</option>
                    <option value="10+">+ 10 MB</option>
                  </select>
              </div>
            </div>
            <hr />
            <h6 class="lead">En caso de emergencia, comunicarse con:</h6>
            <div class="form-row">
              <div class="col-md-6">
                <label>Nombre completo del contacto</label>
                <input type="text" class="form-control form-control-sm text-uppercase" name="nombrecontacto" />
              </div>
              <div class="col-md-6">
                <label>Parentesco:</label>
                <select id="parentesco" class="form-control form-control-sm">
                  <option selected disabled>Seleccione</option>
                  <option value="Abuelo(a)">Abuelo(a)</option>
                  <option value="Amigo(a)">Amigo(a)</option>
                  <option value="Comadre(a)">Comadre(a)</option>
                  <option value="Compadre(a)">Compadre(a)</option>
                  <option value="Compañero de vida(a)">
                    Compañero de vida(a)
                  </option>
                  <option value="Consuegro(a)">Consuegro(a)</option>
                  <option value="Cuñado(a)">Cuñado(a)</option>
                  <option value="Esposo(a)">Esposo(a)</option>
                  <option value="Familiar(a)">Familiar(a)</option>
                  <option value="Hermano(a)">Hermano(a)</option>
                  <option value="Hijastro(a)">Hijastro(a)</option>
                  <option value="Hijo(a)">Hijo(a)</option>
                  <option value="Madrastra">Madrastra</option>
                  <option value="Madre">Madre</option>
                  <option value="Madrina">Madrina</option>
                  <option value="Nieto(a)">Nieto(a)</option>
                  <option value="Nuera">Nuera</option>
                  <option value="Padrastro">Padrastro</option>
                  <option value="Padre">Padre</option>
                  <option value="Padrino">Padrino</option>
                  <option value="Primo(a)">Primo(a)</option>
                  <option value="Sobrino(a)">Sobrino(a)</option>
                  <option value="Suegro(a)">Suegro(a)</option>
                  <option value="Tio(a)">Tio(a)</option>
                  <option value="Yerno">Yerno</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <label>Dirección:</label>
                <input type="text" class="form-control form-control-sm text-uppercase" name="nombrecontacto" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <label>Departamento</label>
                <select id="departcontact" class="form-control form-control-sm">
                  <option selected disabled>Seleccione Departamento</option>
                </select>
              </div>
              <div class="col-md-6">
                <label>Municipio</label>
                <select id="municipiocontacto" class="form-control form-control-sm">
                  <option selected disabled>Seleccione municipio</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4">
                <label>Tel. Fijo:</label>
                <input type="text" class="form-control form-control-sm" name="telfijocontacto" id="telfijocontacto" />
              </div>
              <div class="col-md-4">
                <label>Tel. Movil:</label>
                <input type="text" class="form-control form-control-sm" name="telmovilcontacto" id="telmovilcontacto" />
              </div>
              <div class="col-md-4">
                <label>E-mail:</label>
                <input type="text" class="form-control form-control-sm" name="emailcontacto" />
              </div>
            </div>
            <hr />
            <button class="btn btn-success float-right" id="next1">
              Continuar a : INFORMACIÓN FAMILIAR
            </button>
          </div>
          <div class="card-body" id="sec2" style="display: none;">
            <h3>SECCIÓN 2. INFORMACIÓN FAMILIAR</h3>
            <h6 class="lead">GRUPO FAMILIAR</h6>
            <hr />
            <div class="form-row">
              <div class="col-md-1">
                <label>#</label>
                <p>1</p>
              </div>
              <div class="col-md-4">
                <label>Nombre Completo</label>
                <input type="text" class="form-control form-control-sm" name="nombrec1" />
              </div>
              <div class="col-md-2">
                <label>Parentesco</label>
                <input type="text" class="form-control form-control-sm" name="parentesco1" />
              </div>
              <div class="col-md-1">
                <label>Edad</label>
                <input type="text" class="form-control form-control-sm" name="edad1" id="edad1" />
              </div>
              <div class="col-md-4">
                <label>Ocupación</label>
                <input type="text" class="form-control form-control-sm" name="oficicio1" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-1">
                <p>2</p>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control form-control-sm" name="nombrec2" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="parentesco2" />
              </div>
              <div class="col-md-1">
                <input type="text" class="form-control form-control-sm" name="edad2"  id="edad2" />
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control form-control-sm" name="oficicio2" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-1">
                <p>3</p>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control form-control-sm" name="nombrec3" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="parentesco3" />
              </div>
              <div class="col-md-1">
                <input type="text" class="form-control form-control-sm" name="edad3"  id="edad3"/>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control form-control-sm" name="oficicio3" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-1">
                <p>4</p>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control form-control-sm" name="nombrec4" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="parentesco4" />
              </div>
              <div class="col-md-1">
                <input type="text" class="form-control form-control-sm" name="edad4"  id="edad4"/>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control form-control-sm" name="oficicio4" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-1">
                <p>5</p>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control form-control-sm" name="nombrec5" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="parentesco5" />
              </div>
              <div class="col-md-1">
                <input type="text" class="form-control form-control-sm" name="edad5" id="edad5" />
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control form-control-sm" name="oficicio5" />
              </div>
            </div>
            <hr />
            <div class="form-row">
              <div class="col-md-4 form-group">
                <label>La casa en la que vive actualmente es:</label>
                <select id="tipodecasa" class="form-control form-control-sm">
                  <option selected disabled>Seleccione</option>
                  <option value="Propia">Propia</option>
                  <option value="Alquilada">Alquilada</option>
                  <option value="Finaciada">Finaciada por un banco</option>
                  <option value="FinanciadaSocial">
                    Financiada por el fondo social
                  </option>
                  <option value="Otro">Otro</option>
                </select>
              </div>
              <div class="col-md-3 form-group" id="especificarvivienda" style="display: none;">
                <label>Especifique tipo de vivienda</label>
                <input type="text" class="form-control form-control-sm" name="viviendaotro" >
              </div>
              <div class="col-md-4 form-group" id="pagovivienda" style="display: none;">
                <label>¿Cuanto paga actualmente de vivienda?</label>
                <input type="text" class="form-control form-control-sm"  id="pagovi" name="pagovivienda">
              </div>
              <div class="col-md-4 form-group">
                <label>Zona a la que pertenece su residencial</label>
                <select id="zonaresidencia" class="form-control form-control-sm">
                  <option selected disabled>Seleccione</option>
                  <option value="Rural">Rural</option>
                  <option value="Urbana">Urbana</option>
                </select>
              </div>
              <div class="col-md-6 form-group">
                <label>¿Cómo se movilizará de su casa hacia el Centro de
                  Formación?</label>
                <select id="movilizacion" class="form-control form-control-sm">
                  <option selected disabled>Seleccione</option>
                  <option value="Motocicleta">Motocicleta</option>
                  <option value="Bus">Bus</option>
                  <option value="Carro(Pick-UP/Sedán)">
                    Carro(Pick-UP/Sedán)
                  </option>
                  <option value="Caminando">Caminando</option>
                </select>
              </div>
              <div class="col-md-5">
                <p>Posee en su vivienda equipo informático como :</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Computadora de Escritorio" id="computadora" />
                  <label class="form-check-label" for="computadora">
                    Computadora de Escritorio
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Laptop" id="Laptop" />
                  <label class="form-check-label" for="Laptop">
                    Laptop
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Tablet" id="Tablet" />
                  <label class="form-check-label" for="Tablet">
                    Tablet
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Celular" id="Celular" />
                  <label class="form-check-label" for="Celular">
                    Celular
                  </label>
                </div>
              </div>
            </div>
            <hr />
            <h6 class="lead">INGRESOS FAMILIARES</h6>
            <div class="form-row">
              <div class="col-md-1">
                <label>#</label>
                <p>1</p>
              </div>
              <div class="col-md-3">
                <label>Nombre del familiar que trabaja</label>
                <input type="text" class="form-control form-control-sm" name="trabajador1" />
              </div>
              <div class="col-md-2">
                <label>Salario Mensual</label>
                <input type="text" class="form-control form-control-sm salario" placeholder="0" name="salario1" id="salario1" />
              </div>
              <div class="col-md-2">
                <label>Lugar de trabajo</label>
                <input type="text" class="form-control form-control-sm" name="trabajo1" />
              </div>
              <div class="col-md-2">
                <label>Cargo</label>
                <input type="text" class="form-control form-control-sm" name="cargo1" />
              </div>
              <div class="col-md-2">
                <label>Teléfono</label>
                <input type="text" class="form-control form-control-sm" name="teltabl1" id="teltabl1"  />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-1">
                <p>2</p>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control form-control-sm" name="trabajador2" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm salario" placeholder="0" name="salario2" id="salario2" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="trabajo2" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="cargo2" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="teltabl2" id="teltabl2"   />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-1">
                <p>3</p>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control form-control-sm" name="trabajador3" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm salario" placeholder="0" name="salario3" id="salario3" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="trabajo3" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="cargo3" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="teltabl3" id="teltabl3" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-1">
                <p>4</p>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control form-control-sm" name="trabajador4" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm salario" placeholder="0" name="salario4" id="salario4" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="trabajo4" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="cargo4" />
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control form-control-sm" name="teltabl4" id="teltabl4" />
              </div>
            </div>
            <hr />
            <h3 class="text-right">Total: $<span id="totalsalarios">0.00</span></h3>
            <button class="btn btn-success float-right" id="next2">
              Continuar a : SITUACIÓN ECONÓMICA
            </button>
          </div>
          <div class="card-body" id="sec3"  style="display: none">
            <h3>SECCION 3. SITUACIÓN ECONÓMICA</h3>
            <hr />
            <div class="form-row">
              <div class="col-md-3 form-group">
                <label>¿Recibe remesas?</label>
                <select id="trabajaantes" class="form-control form-control-sm">
                  <option selected disabled>Seleccione</option>
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="container" id="tiempoSinTrabajar" style="display: none">
                <div class="col-md-4 form-group">
                  <label>Detalle de cuanto reciben de remesas:</label>
                  <input type="text" class="form-control form-control-sm" name="remesacantidad" id="remesacantidad"  />
                </div>
                <div class="col-md-4 form-group">
                  <label>¿Cada cuanto recibe las remesas?</label>
                  <input type="text" class="form-control form-control-sm" name="candacuantorem" />
                </div>
                <div class="col-md-4 form-group">
                  <label>¿Quién envia las remesas?</label>
                  <input type="text" class="form-control form-control-sm" name="quienremesa" />
                </div>
              </div>
            </div>
            <hr>
            <h5>Los gastos MENSUALES de su grupo familiar son :</h5>
            <table class="table table-sm table-stripped">
              <thead>
                <tr>
                  <th>Concepto</th>
                  <th>Gasto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Alimentación</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_alimentacion"></td>
                </tr>
                <tr>
                  <td>Pago de vivienda o de alquiler</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_vivienda"></td>
                </tr>
                <tr>
                  <td>Pago de agua</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_agua"></td>
                </tr>
                <tr>
                  <td>Pago de energía eléctrica</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_energia"></td>
                </tr>
                <tr>
                  <td>Pago de línea fija o cable</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_cable"></td>
                </tr>
                <tr>
                  <td>Higiene personal</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_higiene"></td>
                </tr>
                <tr>
                  <td>Pago de celular</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_celular"></td>
                </tr>
                <tr>
                  <td>Servicio Domestico</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_servicio"></td>
                </tr>
                <tr>
                  <td>Cotizaciones ISSS, INPEP, FSV, AFP</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_cotizacion"></td>
                </tr>
                <tr>
                  <td>Transporte</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_transporte"></td>
                </tr>
                <tr>
                  <td>Vigilancia</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_vigilancia"></td>
                </tr>
                <tr>
                  <td>Salud</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_salud"></td>
                </tr>
                <tr>
                  <td>Educación: Escolaridades</td>
                  <td><input type="text" class="costo" placeholder="0.00" id="txt_educacion"></td>
                </tr>
                <tr>
                  <td><b>TOTAL</b></td>
                  <td> <b> $ <span id="totalgastos">0.00</span> </b></td>
                </tr>
              </tbody>
            </table>
            <hr />
            <button class="btn btn-success float-right" id="next3">
              Continuar a : INFORMACIÓN SOBRE LOS INGRESOS
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/static/js/DatepickerES.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script src="/static/js/jquery.mask.min.js"></script>
  <script src="/static/js/currency.js"></script>
  <script src="/static/js/ec/form.js"></script>
</body>

</html>