<div class="row table-responsive">
    <table class="table table-bordered" id="tb-documents" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Nombre documento</th>
                <th>Descargar</th>
                <th>Sustituir</th>
                <th>Visualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
    </table>
    
</div>
