<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" type="image/png" href="/static/img/logo.ico" />
  <title>App - CFP</title>
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet" />
  <link href="/static/css/login.css" rel="stylesheet" />
</head>

<body class="bg-gradient-primary">
  <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
      <div class="row d-flex">
        <div class="col-lg-6">
          <div class="card1 pb-5">
            <div class="row">
              <img src="/static/img/logoi.png" class="logo" />
            </div>
            <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
              <img src="/static/img/logo.png" class="image" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card2 card border-0 px-4 py-5">
            <label>Inicia sesión o crea un nuevo usuario empresarial</label>
            <div class="row px-3 mb-4">
              <div class="line"></div>
            </div>
            <form id="loginForm">
              <div class="row px-3">
                <label class="mb-1">
                  <h6 class="mb-0 text-sm">Usuario (NIT)</h6>
                </label>
                <input class="mb-4" type="text" name="username" autocomplete="username"
                  placeholder="Ingrese un usuario valido" />
              </div>
              <div class="row px-3">
                <label class="mb-1">
                  <h6 class="mb-0 text-sm">Contraseña</h6>
                </label>
                <input type="password" autocomplete="current-password" name="password"
                  placeholder="Ingrese la contraseña" />
              </div>
              <div class="row px-3 mb-4"></div>
              <div class="row mb-3 px-3">
                <button type="submit" class="btn btn-block btn-blue text-center">
                  Iniciar sesión
                </button>
              </div>
            </form>
            <div class="row mb-3 px-3">
              <a href="/public/register" class="btn btn-block btn-primary text-center">Registrar nuevo usuario
                empresarial</a>

              <a data-toggle="modal" data-target="#exampleModal">
                <small>¿No recuerda la contraseña? , haz clic aquí para
                  restaurarla</small></a>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-blue py-4">
        <div class="row px-3">
          <a href="/terms"><small class="ml-4 ml-sm-5">Términos y condiciones de uso</small></a>
          <a ><small data-toggle="modal" data-target="#ayuda" class="ml-4 ml-sm-5 ">¿Necesitas ayuda? , haz clic aquí para buscar asistencia</small></a>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="ayuda" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Contacta con soporte técnico
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> <b>¿Necesitas más información?</b> Te dejamos nuestros contactos</p>
          <p> <b>Soporte Técnico: </b> soporte_cfp@ricaldone.edu.sv - <b>Ofimática: </b> ofimatica@ricaldone.edu.sv (503) 2234-6055; (503) 7854-9460 </p>
           <p><b>Inglés para el trabajo: </b> pnit@ricaldone.edu.sv (503) 2234-6077; (503) 2234-6054; (503) 7854-2514 </p>
            <p>o bien encuentra ayuda en nuestros manuales de uso : </p>
            <hr>
         <a target="_blank" href="https://drive.google.com/file/d/19EP0oEmXJSBs-k5yd98nY2Tl6A2LV5jk/view?usp=sharing"><button class="d-inline btn-sm btn btn-info">Cómo registrarse como empresa</button></a> 
          <button class="d-inline btn-sm btn btn-info">Cómo registrar una solicitud </button>

        </div>
      </div>
    </div>
  </div>

  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Restauración de contraseña
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Por favor digite el NIT de la empresa que desea restaurar,
          enviaremos un correo eletrónico con instrucciones.

          <form id="restaurar">
            <div class="row px-3">
              <input type="text" placeholder="NIT" name="nit" id="nit" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancelar
              </button>
              <button type="submit" class="btn btn-primary">Enviar correo</button>
          </form>
        </div>
      </div>
    </div>
  </div>



</body>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="static/js/auth/auth.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="/static/js/jquery.mask.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="/static/js/auth/login.js"></script>

</html>