<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Formulario de inscripción</title>

    <link rel="icon" type="image/png" href="/static/img/logo.ico" />

    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"
    />
    <link
      href="/static/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body
    class="d-flex flex-column min-vh-100 bg-gradient-light"
    style="color: black"
  >
    <header
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
    >
      <a href="/public/"><b>Volver al principio</b></a>
    </header>
    <main class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img
                src="/static/img/logo.png"
                style="width: 125px"
                class="d-inline"
              />
                <h1 class="text-center" >Términos y condiciones de uso</h1>
                <h3>Parte I. Recopilación de la información</h3>
                <h5>Información provista por empresas.</h5>
                <p>Recopilamos la siguiente información de nuestros visitantes empresariales principales: NIT, Razón social, Dirección, Teléfono, Actividad Económica, Correo electrónico, Número patronal, aportación mensual al Instituto Salvadoreño de Formación Profesional (INSAFORP), Cantidad de empleados que laboran. Además de información de o los responsables de recursos humanos o asignados a capacitaciones por la empresa. Estos datos pueden ser: Nombre, Correo electrónico, Teléfono.</p>
                <h5>Información de participantes empresariales.</h5>
                <p>Recopilamos y almacenamos información prevista por las empresas de personal laborando prospecto a cursos ofrecidos por el Centro de Formación. Estos datos pueden ser: Nombre, correo electrónico personal o empresarial, teléfono de contacto, Número de seguro del Instituto Salvadoreño del seguro social, el cargo que desempeña. </p>
                <h5>Documentos.</h5>
                <p>Recopilamos y almacenamos documentación variable proporcionada por empresas de carácter privado.</p>
                <h5>Cookies</h5>
                <p>Utilizamos cookies. Una cookie es un pequeño archivo de texto que nuestro servidor de Internet coloca en el disco rígido del ordenar/la computadora de un usuario a modo de identificación específico.</p>
                <h3>Parte II. Uso de la información</h3>
                <p>La información recopilada por Centro de formación profesional se utilizará únicamente para procesar pedidos o registraciones de eventos realizados a través de nuestro sitio de Internet y con fines de actualización de nuestros registros.</p>
                <p>Los usuarios que proporcionen información quizá reciban anuncios o notificaciones mediante correo electrónico.</p>
                <p>Los usuarios registrados probablemente reciban anuncios adicionales de parte de nosotros acerca de servicios y boletines de noticias. </p>
                <h5>Intercambio de datos con terceros.</h5>
                <p>Es probable que compartamos datos con los siguientes terceros: Instituto Salvadoreño de Formación Profesional (INSAFORP), Otros centros de formación pertenecientes a la Asociación Institución Salesiana.</p>
                <h5>Cambios en esta política</h5>
                <p>Si nuestra política sobre la recopilación o usos de la información cambiara, te avisaremos por correo electrónico acerca de tales cambios dentro de los cinco días laborales.</p>
                <h3>Parte III. Acceso a la información</h3>
                <h5>Acceso a los datos recopilados.</h5>
                <p>Puedes requerir una copia de los datos que tenemos registrados. Si deseas obtener una copia de esta información puedes hacerlo contactándonos a través de alguno de los siguientes medios: soporte_cfp@ricaldone.edu.sv , cfp@ricaldone.edu.sv o a los números : 2234-6077,  2234-6055. </p>
                <p>Así mismo la información principal está expuesta en el perfil empresarial del usuario.</p>
                <h3>Parte IV. Resolución de problemas</h3>
                <p>Si surgieren problemas, los usuarios pueden contactarse con el Centro de Formación de la siguiente manera: soporte_cfp@ricaldone.edu.sv</p>
                <h3>Parte V. Aceptación de condiciones</h3>
                <p>El usuario acepta y se da por enterado de los términos y condiciones expuestos en los puntos anteriores al momento de seguir utilizando la plataforma activamente, o al momento de ingresar información en ella. </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
