<%- include('../partials/header.admin.ejs'); %>
<link
  rel="stylesheet"
  href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
/>
<div class="container-fluid">
  <div class="row container-fluid">
    <div class="col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <a
            href="/admin/cursos/<%= programa %>"
            class="btn btn-success btn-sm float-left d-inline"
            ><i class="fas fa-arrow-left"></i
          ></a>
        </div>
        <div class="card-body">
          <p>
            <span class="font-weight-bold">Nota: </span> Algunos datos podran
            ser visualizados por el participante al momento de aplicar en la
            oferta.
          </p>
          <div class="card shadow mb-3">
            <div class="card-body">
              <form id="form">
                <h6 class="lead">
                  Registro de nueva oferta - cursos para no cotizantes
                </h6>
                <div class="form-row">
                  <div class="col-md-12">
                    <label class="text-dark">Nombre de la oferta</label>
                    <input
                      type="text"
                      name="nombre"
                      id="nombre"
                      required
                      class="form-control"
                      placeholder="Ej: Piezas gr치ficas"
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-3">
                    <label class="text-dark">Fecha de inicio</label>
                    <input
                      type="text"
                      name="inicio"
                      autocomplete="off"

                      id="inicio"
                      required
                      class="form-control"
                      placeholder="00-00-0000"
                    />
                  </div>
                  <div class="col-md-3">
                    <label class="text-dark">Fecha de finalizaci칩n</label>
                    <input
                      type="text"
                      name="fin"
                      autocomplete="off"
                      id="fin"
                      required
                      class="form-control"
                      placeholder="00-00-0000"
                    />
                  </div>
                  <div class="col-md-3">
                    <label class="text-dark">Horarios</label>
                    <input
                      type="text"
                      name="horarios"
                      id="horarios"
                      required
                      class="form-control"
                      placeholder="De 00:00 A 00:00"
                    />
                  </div>
                  <div class="col-md-3">
                    <label class="text-dark">Costo por alumno</label>
                    <input
                      type="text"
                      name="costo"
                      required
                      id="costo"
                      class="form-control"
                      placeholder="$0.00"
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <label class="text-dark">Descripci칩n del curso</label>
                    <textarea
                      name="descripcion"
                      id="descripcion"
                      class="form-control"
                      cols="30"
                      rows="4"
                    ></textarea>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <label class="text-dark">Requisitos del participante</label>
                    <textarea
                      name="requisitos"
                      id="requisitos"
                      class="form-control"
                      cols="30"
                      rows="2"
                    ></textarea>
                  </div>
                </div>
                <label class="text-dark">Contenidos del curso</label>
                <textarea id="mytextarea" name="mytextarea" rows="10" placeholder="Descripci칩n de contenidos"></textarea>
                <hr>
                <label class="text-dark">Imagen de portada</label>
                <input type="file" name="file" id="file" required class="form-control">
                <hr>
                <input type="hidden" name="programa" id="programa" value="<%= programa%>">
                <input type="submit" value="Enviar"  class="form-control btn btn-primary">
              </form>
              <style>
                .image {
                  width: 150px;
                  height: 150px;
                }
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.container-fluid -->
<%- include('../partials/footer'); %>
<script src="/static/js/jquery.mask.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.tiny.cloud/1/z8y7b0epyottjhyn3t09usw00muubbyqw4x8pz6eucahkaw4/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="/static/js/habil/ofertashabil.js"></script>


