<div class="container">
    <div class="row">
        <div class="col-12 p-2 m-4">
            <h2 class="text-center"> Acompañamiento Psicológico</h2>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <p class="text-left">Nombre: Osmaro Alfonso Bonilla Mestizo</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <p class="text-left">Carnet: BM190742</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <p class="text-left">Carrera: Supervisor Habil</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-1">
            <p class="text-left">Edad: 22</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <p class="text-left">Género: Masculino</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <p class="text-left">Nivel Academico: Supervisor Universitario</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <p class="text-left">Estado civil: Soltero/a</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <p class="text-left">Teléfono: 77752577</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <p class="text-left">Correo: osma204bonillamestizo@hotmail.com</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12">
            <p class="text-left">Dirección: Res. La gloria Psje Ramos Lot #2A San Salvador El Salvador</p>
        </div>
        <br>
        <br>
    </div>
</div>