<div class="row " id="blockFollowUp">
    <div class="col-12">
        <div class="card">
            <div class="card-body rounded shadow-sm">
                <div class="row">
                    <div class="col-6">
                        <p>
                            <span 
                                style="font-size: large; font-weight: bold;"
                            >Colocación y seguimiento
                            </span>
                            <span class="badge badge-success m-1 " 
                                style="cursor: pointer;" 
                                data-toggle="modal"
                                data-target="#modalJobOrientation"
                                onclick=""> 
                                Agregar colocación
                            </span>
                            
                        </p>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-responsive" table-responsive>
                            <thead>
                              <tr >
                                <th scope="col">#</th>
                                <th scope="col">Empresa</th>
                                <th scope="col">Nombre documento</th>
                                <th scope="col">Fecha de entrega</th>
                                <th scope="col">Descripción</th>
                                <th scope="col" width="80">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Coca cola</td>
                                    <td>Poligrafo</td>
                                    <td>12/11/2021 a las 8:30 AM</td>
                                    <td>Se tiene que presentar al edificio C-12 del centro de cocacola</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-12" >
                                                <div class="btn-group" role="group" aria-label="">
                                                    <button class="btn btn-sm btn-info"><i class="fas fa-arrow-left"></i></button>
                                                    <button class="btn btn-sm btn-info"><i class="fas fa-arrow-right"></i></button>
                                                    <button class="btn btn-sm btn-primary"><i class="fas fa-eye"></i></button>
                                                    <button class="btn btn-sm btn-warning"><i class="fas fa-pen"></i></button>
                                                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                                                    

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Coca cola</td>
                                    <td>Poligrafo</td>
                                    <td>12/11/2021 a las 8:30 AM</td>
                                    <td>Se tiene que presentar al edificio C-12 del centro de cocacola</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-12" >
                                                <div class="btn-group" role="group" aria-label="">
                                                    <button class="btn btn-sm btn-info"><i class="fas fa-arrow-left"></i></button>
                                                    <button class="btn btn-sm btn-info"><i class="fas fa-arrow-right"></i></button>
                                                    <button class="btn btn-sm btn-primary"><i class="fas fa-eye"></i></button>
                                                    <button class="btn btn-sm btn-warning"><i class="fas fa-pen"></i></button>
                                                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                                                    

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>