<!-- Modal -->
<div class="modal fade" id="modalDocumentsStudent" tabindex="-1" role="dialog" aria-labelledby="modalJobOrientationLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar nuevo documento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group ">
                            <label for="txtDate">Nombre</label>
                            <input type="text" class="form-control" name="" id="nameDocument" placeholder="Ejem: CV-JUAN-GUARNIZO-ATEI">
                            <p class="small"><b>IMPORTANTE: No se aceptan espacios. | </b>Ingrese el nombre con el cual el documento se guardara.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group custom-file mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fileDocument" name="fileDocument" lang="es">
                                <label class="custom-file-label" for="fileDocument">Selecciona un archivo</label>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSaveDocuments">Save changes</button>
            </div>
        </div>
    </div>
</div>