<table class="table table-bordered" id="detailsTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Cita</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Seguimiento</th>
            <th>Opciones</th>
        </tr>
    </thead>
    
</table>