<table class="table table-bordered" id="detailsTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Cita #</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Seguimiento</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>06/09/2021</td>
            <td>14:00</td>
            <td>13/09/2021  14:00</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#"><i class="fas fa-trash-alt"></i></button>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal"><i class="fas fa-pen"></i></button>
                    <button type="button" class="btn btn-success" ><i class="fas fa-info"></i></button>
                </div >
            </td>
        </tr>
    </tbody>
</table>