<table class="table table-bordered" id="tableParticipantes" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Carnet</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Carrera</th>
            <th>Género</th>
            <th>Opciones</th>
        </tr>
    </thead>
</table>

