<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/png" href="/static/img/logo.ico" />
    <title>App - CFP</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/static/css/login.css" rel="stylesheet" />
  </head>

  <body class="bg-gradient-primary">
    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
      <div class="card card0 border-0">
        <div class="row d-flex">
          <div class="col-lg-12">
            <div class="card2 card border-0 px-4 py-5">
              <label>Restaurar contraseña usuario empresarial</label>
              <div class="row px-3 mb-4">
                <div class="line"></div>
              </div>
              <form id="loginForm">
                <div class="row px-3">
                  <label class="mb-1">
                    <h6 class="mb-0 text-sm">Nueva contraseña</h6>
                  </label>
                  <input
                    class="mb-4"
                    type="password"
                    id="password"
                    name="newpass"
                    placeholder="Ingrese contraseña"
                  />
                </div>
                <div class="row px-3">
                  <label class="mb-1">
                    <h6 class="mb-0 text-sm">Repetir nueva contraseña</h6>
                  </label>
                  <input
                    type="password"
                    autocomplete="current-password"
                    id="password2"
                    name="password2"
                    placeholder="Repetir contraseña"
                  />
                </div>
                <input type="hidden" name="nit" value="<%= nit %>" />
                <input type="hidden" name="code" value="<%= code %>" />
                <div class="row px-3 mb-4"></div>
                <div class="row mb-3 px-3">
                  <button
                    type="submit"
                    class="btn btn-block btn-blue text-center"
                  >
                    Cambiar contraseña
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script>
    const loader = () => {
      Swal.fire({
        title: "Por favor, Espere",
        html: "Cargando Data",
        allowOutsideClick: !1,
        showConfirmButton: false,
        willOpen: () => {
          Swal.showLoading();
        },
      });
    };
    const errorMessage = () => {
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "Las contraseñas no coinciden, por favor verifica",
      });
    };

    $("#loginForm").on("submit", async function (e) {
      e.preventDefault();
      const t = $("#loginForm").serialize();
      if ($("#password").val() != $("#password2").val()) {
        errorMessage();
      } else {
        try {
          loader();
          await $.ajax({
            url: "/public/passwordChange",
            type: "POST",
            data: t,
          });
          window.location.replace("/");
        } catch (error) {
          console.log(error);
        }
        Swal.close();
      }
    });
  </script>
</html>
