<!-- Modal -->
<div class="modal fade" id="modalFrequentQuestions" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Preguntas Frecuentes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a 
                            class="nav-link active" 
                            id="home-tab" 
                            data-toggle="tab" href="#home" role="tab" 
                            aria-controls="home" aria-selected="true">
                            Preguntas frecuentes
                        </a>
                    </li> 
                    <%if(idProgram !=''){%>
                        <li class="nav-item">
                            <a 
                                class="nav-link" 
                                id="case-tab" 
                                data-toggle="tab" href="#case" 
                                role="tab" aria-controls="case" aria-selected="false">
                                Explica tu caso 
                            </a>
                        </li>
                    <%}else{%>
                        <li class="nav-item">
                            <a 
                                class="nav-link" 
                                id="hello-tab" 
                                data-toggle="tab" href="#profile" 
                                role="tab" aria-controls="profile" aria-selected="false">
                                Explica tu caso 
                            </a>
                        </li>
                    <%}%>
                    
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mt-3 mb-5 ">
                                    <div class="col-12">
                                        <div class="container">
                                            <div class="table-responsive">
                                                <table class="table table-hover" id="tbFrequentQuestions" width="100%" cellspacing="0">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">Pregunta</th>
                                                        <th scope="col">Respuesta</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%if(idProgram ==''){%>
                        <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="container">
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <p class="small"><span><b>Indicación:</b></span> Recuerde rellenar todos los campos y ser lo más descriptivo posible (La captura de pantalla es opcional).</p>
                                        <div class="form-group">
                                            <div class="row mt-2">
                                                <div class="col-6">
                                                    <label for="txtName">Nombre</label>
                                                    <input type="tel" class="form-control" id="txtPhone" placeholder="Ejem: 71212121">
                                                </div>
                                                <div class="col-6">
                                                    <label for="txtEmail">Correo</label>
                                                    <input type="email" class="form-control" id="txtTrouble" placeholder="Ejem: No me deja enviar la solicitud">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row mt-2">
                                                <div class="col-6">
                                                    <label for="txtPhone">Teléfono</label>
                                                    <input type="tel" class="form-control" id="txtPhone" placeholder="Ejem: 71212121">
                                                </div>
                                                <div class="col-6">
                                                    <label for="txtTrouble">Problema</label>
                                                    <input type="email" class="form-control" id="txtTrouble" placeholder="Ejem: No me deja enviar la solicitud">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtDescription">Descripción (Detallada)</label>
                                            <textarea 
                                                class="form-control" 
                                                id="txtDescription" rows="3" 
                                                placeholder="Intento seguir con las instrucciones pero me sale el siguiente error."
                                            ></textarea>
                                        </div>
                                        <!-- <div class="form-group">
                                            <div class="row">
                                                <div class="col-12">
                                                        <label for="fileSS">Adjunta tu captura de pantalla (Opcional).</label>
                                                        <input type="file" id="fileSS" lang="es">
                                                      </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="form-group">
                                            <button class="btn btn-success m-1" id="btnSaveProblem">Enviar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%}else{%>
                        <div class="tab-pane fade " id="case" role="tabpanel" aria-labelledby="case-tab">
                            <div class="container">
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <p class="small"><span><b>Indicación:</b></span> Recuerde rellenar todos los campos y ser lo más descriptivo posible (La captura de pantalla es opcional).</p>
                                        <div class="form-group">
                                            <div class="row mt-2">
                                                <div class="col-6">
                                                    <label for="txtPhone">Teléfono</label>
                                                    <input type="tel" class="form-control" id="txtPhone" placeholder="Ejem: 71212121">
                                                </div>
                                                <div class="col-6">
                                                    <label for="txtTrouble">Problema</label>
                                                    <input type="email" class="form-control" id="txtTrouble" placeholder="Ejem: No me deja enviar la solicitud">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtDescription">Descripción (Detallada)</label>
                                            <textarea 
                                                class="form-control" 
                                                id="txtDescription" rows="3" 
                                                placeholder="Intento seguir con las instrucciones pero me sale el siguiente error."
                                            ></textarea>
                                        </div>
                                        <!-- <div class="form-group">
                                            <div class="row">
                                                <div class="col-12">
                                                        <label for="fileSS">Adjunta tu captura de pantalla (Opcional).</label>
                                                        <input type="file" id="fileSS" lang="es">
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="form-group">
                                            <button class="btn btn-success m-1" id="btnSaveProblem">Enviar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>